# Currents API
# Register for a free developer key at:
# https://currentsapi.services/en/register
CURRENTS_API_KEY=your_api_key_here

# NewsAPI 
# Register for a free developer key at:
# https://newsapi.org/ 
NEWS_API_KEY=your_api_key_here
